
.rock{
     width:500px;
    height:500px;
    background-image: url("download%20(1).jpg");
    outline: 10px solid red;
    border: 10px double blue;
    float: right;
    background-size:cover;
 }
.raj{   width:500px;
    height:500px;
    background-image: url("crop.jpg");
    outline: 10px solid red;
    border: 10px double blue;
    float: left;
    background-size:cover;

    
}